
/*DESKTOP*/
@media (max-width: 2000px) {
  .slideshow li{
  	top:10%;
    height:80%;
      
  }
}


@media (max-width: 1400px) {
  .slideshow li{
  	top:10%;
    height:80%;
      
  }
}

@media (max-width: 1200px) {
  .slideshow li{
  	top:15%;
    height:70%;
  }
}

@media (max-width: 1000px) {
  .slideshow li{
  	top:25%;
    height:50%;
  }

}

@media (max-width: 900px) {
  .slideshow li{
  	top:30%;
    height:40%;
  }
}

/*MOBILE*/
@media (max-width: 760px) {
	body,html{
		overflow:auto;
	}
	.main-container{
		display: none;
	}
	.mobile-container{
		display: block;
	}
	.sidebar{
		width:auto;
		height:auto;
		position: relative;
	}

	.navigation{
		display: none;
	}
	.menu{
		background: white;
		margin-top: 0px;
		top:0;
		position: fixed;
		z-index: 99999;
	}
	.sliding-content-container{
		position: absolute;
		width:100%;
		margin-left: 0px!important;
		display: none;
	}
	.work-list{
		margin-left:0px !important;
		margin-top:82px;
		display: block;
	}
	.work-item{
		background-position: center center;
		background-repeat: no-repeat;
	}
	.slideshow{
		margin-left: 0px;
	}
	.slideshow li{
		height:244px;
		top:0px;
		position: relative;
		opacity: 1;
	}
	.slideshow-container{
        
	}
	.scrollable-nav{
		overflow:auto;
		height:auto;
	}
	.close-button{
		display:none;
	}
	.mobile-content{
		display: block;
		position: relative;
		height: 100px;
		width: 100%;
		background: white;
		z-index: 99999;
	}
	.content{
		position: relative;
		text-align: center;
		background: white;
		left: 0px;
		width: 100%;
	}
	.sliding-content{

		position: absolute;
		background:white;
		width: 100%;
		top:98px;
		margin-left: -100%;
		z-index:1;
	}
	.sliding-content img{
		height:244px;
		display: block;
		margin: auto;
	}
	.sliding-content .allt{
	background:#ef7b88;
	}
	.sliding-content .coggles{
		background:#acdacf;
	}
	.sliding-content .quick-guide{
		background:#fecd6d;
	}
	.sliding-content .blow{
		background: #fecd6d;
	}
	.sliding-content .myyogajourney{
		background: #ef7b88;
	}
	.sliding-content .matches-fashion{
		background: #87c3db;
	}
	.sliding-content .home{
		background: #fecd6d;
	}
	h1 img{
		cursor: pointer;
	}
	.go-back{
		cursor: pointer;
        font-size: 12px;
        font-weight: 400;
  
	}

}