html {
    height: 100%;
    padding:0px;
    margin:0px;
    font-family:"klavika",sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #4a4a4a;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .25;
}

body{
    margin:0px;
    height: 100%;
    display: flex;
}


.sidebar{
    flex:1;
    min-width:230px;
    max-width: 230px;
    position: relative;
    height:100%;
    width:100%;
    overflow-x: hidden;
    background-color: #1f2223;
    z-index:2;
}

.about_slide_container{
    position:absolute;
    z-index: 1;
    width:400px;
    height:100%;
    left : -100%;
    -webkit-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
    background-color:white;
}

.contact_slide_container{
    position:absolute;
    z-index: 1;
    width:400px;
    height:100%;
    left : -100%;
    -webkit-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out;
    background-color:white;
}

.about_logo {
    width:250px;
    margin-left:auto;
    margin-right: auto;
    margin-top:70px;
}

.x-sign{
    position:absolute;
    right:0;
    width:30px;
    margin-right:auto;
    margin-left:auto;
}
.about_slide_container_show{ 
    left : 230px;
}

.contact_slide_container_show{
    left:500px;
}


.inner_sidebar {
    position: absolute;
    height:100px;
    top:30%;
    background-color: #1f2223; 
    width:300px;
    font-family: "brandon-grotesque",sans-serif;
	font-style: normal;
	font-weight: 400;
	position:absolute;
	width:100%;
	text-align: center;
	font-size: 12px;
	letter-spacing: .75;
}

.social_footer {
    height: 100px;
    width: 200px;
    margin-left: 30px;
    margin-right: auto;
    margin-top:200px;
}





.navigation a:hover{
	border-bottom:1px solid white;
}

.contents_container {
    flex:10;
    height:100%;
    width: 100%;
    overflow: hidden;
}

.header{
    width: 100%;
    height:150px;
    background-color:#fffffa;
    text-align: center;
    padding:30px;
}

.contents{
    width: 100%;
    height:100%;
    min-width: 300px;
    background-color: #1f2223;
    display:flex;
    flex-wrap: wrap;
    overflow: scroll;
}



.portfolio{
    position: relative;
    flex:1;
    min-width:300px;
    width: 300px;
    width:300px;
    padding:0px;
    margin:-5px 0px 0px 0px;
}

.bside_contents{
    flex:10;
    height:100%;
    display:flex;
}

.bside_left{
    position: relative;
    flex:2;
    min-width:700px;
    width:700px;
    padding:10px;
    overflow:scroll;
    background-color: #1f2223;
    
}
::-webkit-scrollbar {
    display: none;
}

.bside_right{
    position:relative;
    flex:1;
    background-color: #1f2223;
}

.title_bside{   
    font-size:30px;
    font-weight: 400;
    margin-top: 250px;
    padding:0 70px;
    color:#e5234a;
}

.description01_bside{
    font-size: 11px;
    margin-top:50px;
    color:#fffff9;
    padding: 0 70px;
}
.description02_bside{
    font-size:11px;
    margin-top:50px;
    color:#fffff9;
    padding: 0 70px;
}
.description03_bside{
    font-size:11px;
    margin-top:50px;
    color:#fffff9;
    padding:0 70px;
    
}
.description04_bside{
    font-size:11px;
    margin-top:50px;
    color:#fffff9;
    
}

p3{font-size:16px;
    margin-top:50px;    
    color: #e5234a;
}
.social_footer a {
    width: 30px;
    height: 30px;
    margin-left:5px;
    margin-right: 5px;
    float:left;

}

.social_footer_1 {
    background-image:url(images/social_01.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.social_footer_1:hover {
    background-image:url(images/social_01_hover.png);

}

.social_footer_2 {
    background-image:url(images/social_02.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.social_footer_2:hover {
    background-image:url(images/social_02_hover.png);

}
.social_footer_3 {
    background-image:url(images/social_03.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.social_footer_3:hover {
    background-image:url(images/social_3_hover.png);

}
.social_footer_4 {
    background-image:url(images/social_04.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.social_footer_4:hover {
    background-image:url(images/social_04_hover.png);

}

.bside_right a {
    width: 10px;
    height: 10px;
    margin-top:150px;
    margin-left:70px;
    float:left;
}
.arrow > a:nth-child(2) {
    margin-left:10px;
}
.backtowork{
    position:absolute;
    width: 30px;
    height: 30px;
    right:0px;
    margin-right: 30px;
    margin-top: 10px;
}

.backtowork:hover{
    
}


.bside_prev {
    background-image:url(images/left_arrow.png);
    background-repeat: no-repeat;
    background-size:contain;
    padding: 10px;
    border: 1px solid rgba(255,255,255,1);
}
.bside_prev:hover{
    background-image: url(images/left_arrow_select.png);
    border: 1px solid rgba(255,255,255,0);
}

.bside_back {
    background-image:url(images/right_arrow.png);
    background-repeat: no-repeat;
    background-size:contain;
    padding: 10px;
    border: 1px solid rgba(255,255,255,1);
}
.bside_back:hover{
    background-image: url(images/right_arrow_select.png);
    border: 1px solid rgba(255,255,255,0);
}


.inner_port {
    position: absolute;
    background-color: #1f2223;
    opacity: 0.8;
    z-index: 3; 
    width: 100%;
    height: 100%;
    opacity: 0;
    margin top:-5px;
}


.inner_port:hover{
    opacity:0.9;
    text-align: center;
}

p{  margin-top: 180px;
    color: #e5234a; 
    font-size: 30px;
    font-weight: 400;
}


.inner_port_img{
    position: absolute;
    z-index: 2;
}

.sidebar img {
    width :100%;
}

.slideshow-container img{
    width: 100%;
}
.about_slide_container img {
    width : 100%;
}
.contact_slide_container img {
    width : 100%;
}
.contents_container img {
    width : 100%;
}

h1{flex:1;
    margin:40px;
    letter-spacing: .75;
}

h2{flex:1;
margin:55px;
font-size: 100px;
text-decoration-color: #1f2223;}



.contents_about{
    flex:1;
    height:100%;
    width:100%;
    overflow:scroll;
}

.contents_about img{
    flex:1;
    width:300px;
    margin: 50px;
}



.title{
    color:#e5234a;
    font-size: 40px;
    padding:0 100px;
    margin-top: -40px;
}


.sub-title{
    color: #e5234a;
    font-size: 20px;
    font-weight: 700;
    padding:0 100px;
    margin-top: 20px;}

.description2{
    font-size: 14px;
    font-kerning: .75;
    padding:0 100px;
    margin-top: 10px;

}

.description3 a{
    color:#e5234a;}

.description4 a{
    color:#e5234a;}

.contents_contact{
    flex:1;
    height:100%;
    width:100%;
    overflow:scroll;
}
.title_contact{
    flex:1;
    color:#e5234a;
    font-size: 40px;
    margin-top:250px;
    padding:0 100px;}

.description1_contact{
    flex:1;
    margin-top: 50px;
    padding:0 100px;
}

.description2_contact{
    flex:1;
    margin-top:10px;
    padding:0 100px;
}

a{
	text-decoration: none;
	color:white;
}

a:link {
    text-decoration: none;
    font-weight: 400;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul{
	list-style: none;
	padding:0px;
	line-height: 40px;
}

.slideshow-container{
    flex:10;
    z-index:0;
	width:100%;
	height:100%;
	position: absolute;
/*	margin-left:500px;*/
}
.slideshow{
	height:100%;
	width:100%;
	margin-left:0px;
	  -webkit-transition:opacity 0.3s;
    -moz-transition:opacity 0.3s;
    -o-transition:opacity 0.3s;
    transition:opacity 0.3s;
    position: absolute;
    opacity: 0;
}
.slideshow.allt{
	background:#ef7b88;
}
.slideshow.coggles{
	background:#acdacf;
}
.slideshow.quick-guide{
	background:#fecd6d;
}
.slideshow.blow{
	background: #fecd6d;
}
.slideshow.myyogajourney{
	background: #ef7b88;
}
.slideshow.matches-fashion{
	background: #87c3db;
}
.slideshow.home{
	-webkit-animation: pulse 40s infinite alternate;
	background-color: #fecd6d;
}
@-webkit-keyframes pulse {
      0% {background-color:#fecd6d;}
     25% {background-color: #ef7b88;}
     50% {background-color: #acdacf;}
     75% {background-color: #87c3db;}
     100% {background-color: #fecd6d;}
}
.slideshow li{
	opacity:0;
	position: absolute;
	width:100%;
	height: 100%;
	    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
.slideshow ul{
	margin:0px;
}
.active-slide{
	opacity: 1!important;
	z-index: 1;
    
}

.active-link{
	border-bottom: 2px solid #222222;
}

.slideshow__controls{
	margin-left:300px;
	position: fixed;
	z-index: 99;
	bottom:0px;
	right:0px;
	background: white;
}

.left{
	cursor: pointer;
	padding:0px;
	margin:0px;		
	display: inline-block;
	width: 46px;
	height:44px;
	background-image: url("imgs/icons/leftarrow_select.png");
}

.right{
	cursor: pointer;
	padding:0px;
	margin:0px;		
	display: inline-block;	
	width: 46px;
	height:44px;	
	background-image: url("imgs/icons/rightarrow_select.png");	
}
.right:hover{
	opacity:0.6;
}
.left:hover{
	opacity:0.6;
}
.slideshow-image{
	background:red;
	margin:0px auto;
}
.visible{
	opacity:1!important;
}
.hidden{
	opacity:0!important;
}
.slideshow img{
	height:100%;
	display: block;
	margin: auto;
}
.mobile-container{
	display:none;
}

.iphone-video{
	position: absolute;
    }

.ipad-video{
	position: absolute;
    }


.iphone-img{
	max-width: 395px;
    max-height: 830px;
    }

.iphonezoom-img{
	max-width: 700px;
    max-height: 830px;
    }


.ipad-img{
	max-width: 679px;
    max-height: 830px;
    padding: 20px;
    }

.ipadvid-img{
	max-width: 557px;
    max-height: 830px;
    }



.macbook-img{
	max-width: 1000px;
    max-height: 830px;
    padding: 50px;
    }

.mobile-img{
	
    padding-top: 30px;
    padding-bottom: 30px;
    }





.default-transitions{
	-moz-transition-property: none !important;
	-webkit-transition-property: none !important;
	-o-transition-property: none !important;
	transition-property: none !important;
    
    
}

/*Red: #ef7b88
yellow: #fecd6d
green: #acdacf
blue: #87c3db


